[Unit]
Description=Central HIDS Socket Server
After=network.target

[Service]
Type=simple
User=root
# Change User to your standard unprivileged user in production!
WorkingDirectory=/opt/hids
ExecStart=/opt/hids/venv/bin/python socket_server.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
